<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function table_to_array() {
            myData = document.getElementsByTagName('table')[0].rows
            console.log(myData)
            my_liste = []
            for (var i = 0; i < myData.length; i++) {
                el = myData[i].children
                my_el = []
                for (var j = 0; j < el.length; j++) {
                    my_el.push(el[j].innerText.split(" ").join("").replace(/\n/g, '').replace('.', ','));
                    console.log(my_el)
                }
                my_liste.push(my_el)

            }
            console.log(my_liste)
            let json = JSON.stringify(my_liste)
            return json
        }

        function showDiv1() {
            odiv2Value = document.getElementById('text').value;
            odiv2Value = odiv2Value.replace(/(?:\r\n|\r|\n)/g, '<br>');
            document.getElementById('odiv1').innerHTML = ""
            document.getElementById('invis').innerHTML = odiv2Value;
            return false;
        }

        async function uploadFile() {
            let formData = new FormData();
            formData.append("file", fileupload.files[0]);
            await fetch('/upload', {
                method: "POST",
                body: formData
            });
            alert('The file has been uploaded successfully.');
        }

    </script>
    <style>
        .interact {
            background-color: #68A7AD;
            border: 2px solid #99C4C8;
            border-radius: 10px;
            width: 10em;
            height: 10em;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 2em;
        }

        html,
body {
  height: 100%;
  width: 100%;
  background-color: #E5CB9F;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
    </style>
</head>

<body>
    <div class="container">
    <div class="interact">
        <form name="form" method="POST">
            <div id="invis" style="display: none;"></div>
            <div id="odiv1">
                <p align="left"></p>
                <div id="odiv2" ">
                    <textarea id=" text" name="text" cols="20" rows="5"></textarea>

                </div>
                <div id="odiv3">
                </div>
                <input type="submit" id="btn" value="ok" onclick="showDiv1();">
            </div>
            <div>
                <label for="say"></label>
                <textarea name="say" id="say" value="" style="display: none;"></textarea>
            </div>
            <div>
                <label for="to">
                    <Who do you want to say it to?>
                </label>
                <input name="to" id="to" value="date">
            </div>
        </form>
    </div>
    </div>
</body>

</html>