<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDQE Convert</title>
    <script>
        function table_to_array() {
            myData = document.getElementsByTagName('table')[0].rows
            console.log(myData)
            my_liste = []
            for (var i = 0; i < myData.length; i++) {
                el = myData[i].children
                my_el = []
                for (var j = 0; j < el.length; j++) {
                    my_el.push(el[j].innerText.split(" ").join("").replace(/\n/g, '').replace('.', ','));
                    console.log(my_el)
                }
                my_liste.push(my_el)

            }
            console.log(my_liste)
            let json = JSON.stringify(my_liste)
            return json
        }

        function showDiv1() {
            odiv2Value = document.getElementById('text').value;
            odiv2Value = odiv2Value.replace(/(?:\r\n|\r|\n)/g, '<br>');
            document.getElementById('odiv1').innerHTML = ""
            document.getElementById('invis').innerHTML = odiv2Value;
            return false;
        }


    </script>
    <link rel="stylesheet" href="https://cdn.concisecss.com/concise.min.css">
    <link rel="stylesheet" href="https://cdn.concisecss.com/concise-utils/concise-utils.min.css">
</head>
<style>
    html {
        height: 100%;
    }

    body {
        min-height: 100%;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: left;
        padding-left: 1em;
    }
</style>

<body>
    <main grid>

        <div container class="_mts _ps _bg-background-light _b2" column="6">
            <div container class="">
                <h2>
                    RDQE Convert
                </h2>
            </div>
            <div>
                <form name="form" method="POST">
                    <fieldset>
                        <legend>Data</legend>
                        <div id="invis" style="display: none;"></div>
                        <div id="odiv1">
                            <p align="left"></p>
                            <div id="odiv2">
                                <textarea id="text" name="text" cols="20" rows="5"></textarea>

                            </div>
                            <div id="odiv3">
                            </div>

                        </div>


                        <div>
                            <label for="say"></label>
                            <textarea name="say" id="say" value="" style="display: none;"></textarea>
                            <input type="button" id="btn" value="Convert" onclick="showDiv1();alert('Conversion Done')">
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Date</legend>
                        <div>
                            <label for="to">
                                <Who do you want to say it to?>
                            </label>
                            <input name="to" id="to" value="" placeholder="01/01/2022">
                            <button
                                onmouseenter="document.getElementById('say').value = table_to_array()">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
            <p container>
                Copy HTML Data into the first textarea and click convert, then enter the date and submit, this will
                return an XLSX that you can import.
            </p>
        </div>
    </main>
    <div class="footer">
        Made by: Dylan
    </div>
</body>

</html>